

/* MAIN BODY of the annotation page */
body {
    background-color: #00BFFF;
}



/* SECTIONS */

/* Use indent classes to put the image and annotation semantic forms sections side-by-side */
.indent-1 {
    float: left;
    margin: 0 1.5%;
    
    
}

.indent-1 section {
     width: 50%; float: left;
}

.indent-2 {
    float: left;
    margin: 0;
   /* width: 50%; */
    width: 40%;
    height: 500px;
}






/* IMAGE SECTION - Section 1 */

/* Comic page container class*/
.container {
    position: relative;
    text-align: center;
}


/* Canvas */
canvas{
    border: 3px solid black;
    cursor: crosshair;

    /* There is the option to add the comic images as backgrounds
     background: url("comicPages/Page1.jpeg"); */
}






/* SEMANTIC FORM SECTION - Section 2 */


/* Add a vertical scroll to allow for scrolling while the image stays in place */
.scroll {
    width: 500px;
    height: 700px;
    overflow-x: auto;
}




#initialStartButtonContainer {
    text-align: center;
    width: 525px;
}

#startAnnotationButton {
    visibility: visible;
    background-color: #008CBA;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    border: none;
    color: white;
    padding: 20px;
    margin: 1px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}



#panelIdSection {
    display: none;
    margin: 5px;
    padding: 10px;
    height: 200px;
    text-align: center;
    border-radius: 25px;
    background-color: #87CEFA;
    border: 5px solid #008CBA;
}




.panelIDButtons {
    background-color: #008CBA;
    text-align: center;
    font-size: 18px;
    font-family: monospace;
    border: none;
    color: white;
    padding: 15px;
    margin: 5px; 
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}

.panelIDButtonsVersion2 {
    background-color: #008CBA;
    text-align: center;
    font-size: 14px;
    font-family: monospace;
    border: none;
    color: white;
    padding: 15px;
    margin: 1px; 
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}



#panelNumSection {
    display: none;
}


.panelNumSectionFormat {
    margin: 5px;
    width: 450px;
    text-align: center;
    padding: 20px;
    background-color: #008CBA;
    height: 150px;
    border-radius: 25px;
    border: 5px solid #008CBA;
}


#panelCount {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    font-family: monospace;
}


div.hidden {
    display: none; 
}


#semanticFormContainer {
    align: center;
}

.semanticFormContainerScroll {
    overflow-y: auto;
    height: 325px;
}



.semanticFormDisplay {
    display: inline-block;
    border-radius: 25px;
    background-color: #87CEFA;
    border: 5px solid #008CBA;
    padding: 20px;
    margin: 5px;
    width: 450px;

}


.charIDStopButton {
    display: flex;
    flex-direction: column;
}







/* All the headers in the semantic forms should have the same font and color */
h4 {
    font-family: veranda;
}


#submitToNextPage {
    display: none; 
}


.charForms {
    width: 400px;
    padding: 5px;
    margin: 3px 0;
    border: 2px solid #008CBA;
    border-radius: 10px;
    background-color: #cce6ff
}

input[type=text] {
    margin: 5px 0;
}

.charDescriptionInput {
    width: 150px;
}

.locationDescriptionInput {
    width: 200px;
}

input[type=radio] {
    margin: 0 10px 0 10px;
}


.semanticButtonsContainter {
    
}

.pageNavigationButtons {
    background-color: #008CBA;
    text-align: center;
    font-size: 18px;
    font-family: monospace;
    border: none;
    color: white;
    padding: 20px;
    margin: 8px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}












