

body {
    background-color: powderblue;
    
}


h1 {
    
    text-align: center;
    font-style: monospace;
}


p {
    
    text-align: center;
    font-style: monospace;
}

#buttonToExample {
    
    align: center;
    
}






